---
import Content from "./Content.astro";

interface Props {
  title?: string;
  body?: string;
  expandedBody?: string;
  colSpan?: string;
  rowSpan?: string;
  href?: string;
  colorText?: string;
  height?: string;
  width?: string;
  expandable?: boolean;
  style?: string;
}

const {
  title,
  body,
  expandedBody,
  colSpan,
  rowSpan,
  href,
  colorText,
  height,
  expandable = false,
  style, /* retrieve style prop */
} = Astro.props;
---

<div
  style={style}
  class={`card relative transition-all duration-300
          bg-darkslate-500 shadow-lg rounded-lg p-6 border border-darkslate-100
          flex-none ${height || "h-full"}
          w-full col-span-1 ${colSpan || "md:col-span-2"}
          ${rowSpan || ""}
          ${expandable ? "expandable hover:border-primary-500 cursor-pointer" : ""}
        `}
>
  {href && (
    <p class="mb-2 text-sm">
      <a href={href} class="underline text-primary-400">
        Visit Link
      </a>
    </p>
  )}

  <Content title={title} body={body} expandedBody={expandedBody}>
    <slot />
    <slot name="expanded" slot="expanded" />
  </Content>
</div>